    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"> About <i class="fab fa-connectdevelop"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="nav navbar-nav mr-auto navStyle">
            <li class="nav-item active">
                <a class="nav-link" href="/registermess">Registration <i class="fas fa-users"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/member_reg">Add <i class="fas fa-user-plus"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/member_signin">L<i class="far fa-smile"></i>GIN <i class="fas fa-sign-in-alt"></i></a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 70px;">
    {{#if success_msg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success_msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    {{#if error_msg}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error_msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    {{#if message}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
    <form class="box" action="/member_signin" method="post" onsubmit="Mmessage()">
        <center>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 thumbnail">
                    <label class="label" for="exampleInputPassword1">Email</label>
                    <input required type="email" class="form-control input" id="exampleInputPassword1" placeholder="Enter your email id..." name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 thumbnail">
                    <label class="label" for="exampleInputPassword1">MessId</label>
                    <input required type="text" class="form-control input" id="exampleInputPassword1" placeholder="Enter your MessID..." name="messid2">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 thumbnail">
                    <label class="label" for="exampleInputPassword1">Password</label>
                    <input required type="password" class="form-control input" id="exampleInputPassword1" placeholder="Enter your password..." name="password">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn1">L<i class="far fa-smile"></i>GIN <i class="fas fa-sign-in-alt"></i></button>
                </div>
            </div>
        </center>
    </form>
</div>