.added{
    width: 800px;
    height: 800px;
    display: flex;
    justify-content:center;

}
.div-style{
    border: 2px solid blue;
    width: 200px;
}

.input-style{
    width: 100%;
}
.form-style{
    border: 2px solid brown;
}
