<div class="container">
  Welcome {{name}}
    <form action="/showmember" method="post">
        <input type="hidden" value="{{messid}}" name="messid">
        <button type="submit">Show</button>
    </form>
    {{!-- {{#each mem}}
    <div>
        {{mem.messid1}}
    </div>
    {{/each}} --}}
    <div>
        {{#each mem}}
        <div>{{email}}</div>
        {{/each}}
    </div>
</div>